* {
    background-color:ghostwhite;
}


.bigger_box{
    background-color:ghostwhite;
    width:100%;
    height:100%;
}

.centered_header{
    background-color:white;
    color:#1EA1FF;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    gap: 20px; /* Space between items */
    display: flex;
    width:auto;
    justify-content: center;
    align-items: center;
}

.box{
    margin-top:20px;
    background-color:ghostwhite;
}

.tweet_table{
    background-color: white;
    width: 60%;
    height: 500px;
    margin-left: 20%;
    /*margin-bottom:-20px;
    */position: relative;
    
}

.create_post{

    background-color: white;
    /* width: 40%;
    height: 400px; */
    /* padding: 10px;
    margin-left: 30%;
    margin-top: 30px; */

    /* lay out avatar and textarea side by side */
    display: flex;
    align-items: flex-start;   /* keep the image at the top of the box */
    gap: 10px;                 /* small space between picture and text area */
    
}

.profile_pic{
    background-color:white;
    border-radius: 50%;
    width:7%;
    height:auto;             /* maintain aspect ratio */
    flex-shrink: 0;          /* don't let the avatar shrink when the textarea grows */
}

.sample_text{
    background-color: white;
    width:90%;
    height:200px;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    border: none;

    /* allow text to wrap and behave like a multiline textarea */
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.tweet_button{
    background-color:#1EA1FF;
    color: white;
    border: none;
    width:100px;
    padding:10px 20px;
    border-radius:50%;
    font-size: larger;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* character counter shown to the left of the tweet button */
.char_counter{
    position: absolute;
    bottom: 26px;
    right: 120px; /* sits directly left of the 100px-wide button + 10px gap */
    background-color: white;
    color: grey;
    font-size: 14px;
    padding: 2px 6px;
    border-radius: 4px;
}
.char_counter.limit_reached{
    color: red;
}

/* disabled tweet button look */
.tweet_button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.table_divider{
    color:lightgray;
    background-color:white;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    width:55%;

    position: relative;     /* or absolute/fixed if you prefer */
    z-index: 9999;
}

.tweeted_post_table{
    background-color: white;
    width: 60%;
    height: 300px;
    margin-left: 20%;
    /*margin-bottom:-20px;
    */position: relative;
    
}

.tweeted_post{
    background-color: white;
    width: 60%;
    margin-left: 20%;
    padding:0px;
    margin-top:-20px;
    padding-bottom:10px;
    margin-bottom:-10px;
    display: flex;
    align-items: left;
    margin-left: 7.7%;
    height: 100px;
}

.profile_box{
    background-color:white;
    display:flex;
    align-items:flex-start;
    gap:10px;
    width: 60%;
    margin-left: 20%;
    padding:none;
    margin-top:-10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-bottom:-10px;
}

.interactions_box{
    background-color:white;
    display:flex;
    align-items:flex-start;
    gap:15%;
    padding-top:10px;
    width:60%;
    margin-left:20%;
}

.interaction_icon{
    background-color:white;
    width:20px;
    height:20px;
    margin-left:10%;
    padding-bottom:10px;
}

.profile_display_name{
    background-color: white;
    display:flex;
    align-items:center;
    padding-top:20px;
    font-family:'Times New Roman';
    font-weight:bolder;
}

.profile_username{
    background-color: white;
    display:flex;
    align-items:center;
    padding-top:20px;
    font-family:'Times New Roman';
    color:grey;
}